[Desktop Entry]
Type=Application
Exec=/snap/bin/chromium --start-fullscreen --disable-session-crashed-bubble --disable-infobars  127.0.0.1:8000
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=chrome
Name=chrome
Comment[en_US]=
Comment=
